name: Run CI unittests
on:
  pull_request:
    types: [opened, ready_for_review, synchronize]
  workflow_dispatch:

jobs:
  run-tests:
    uses: ./.github/workflows/ci-matrix-gen.yml
    with:
      # nodejs-gate-style: no space left on device errors
      jobs_to_run: (?!.*(aux-engine|smoke|enterprise|pgo|nodejs-gate-style))